<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>德系品牌</string>
		<key>cars</key>
		<array>
			<string>奥迪</string>
			<string>奔驰</string>
			<string>宝马</string>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>日系品牌</string>
		<key>cars</key>
		<array>
			<string>本田</string>
			<string>丰田</string>
			<string>马自达</string>
		</array>
	</dict>
</array>
</plist>
